<style>
  .card {
    margin: 20px 0;
    padding: 20px;
  }

  .main-title {
    text-align: center;
  }

  .action-a {
    cursor: pointer;
  }
</style>
<!-- Toolbar -->
<div class="container">
  <h1 class="main-title">The Playlists</h1>
  <h5 class="text-description">
    Here you can create your own playlist, edit your already existing playlist,
    add songs, and show it to the world!
  </h5>
  <button
    class="btn btn-primary"
    (click)="onCreatePlaylist(); openModal(content)"
  >
    New Playlist
  </button>
  <br /><br />
  <div class="playlist-card">
    <div class="card" *ngFor="let playlist of playlists; let i = index">
      <h3 class="card-title">{{ playlist.titleplaylist }}</h3>
      <span class="card-subtitle">
        total {{ playlist.songs.length }} songs,
        {{ countMinutes(playlist.songs) }} minutes
      </span>
      <!-- {{ countSong(playlist.songs) }} or {{ playlist.songs.length }} -->
      <div class="card-content">
        <p>{{ playlist.description }}</p>
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let song of playlist.songs; index as song_i">
              <th scope="row">{{ song_i + 1 }}</th>
              <td>
                <h4>{{ song.titlesong }}</h4>
              </td>
              <td>
                <p>by {{ song.artist }} · {{ song.duration }} minutes</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-actions">
        <button class="btn btn-outline-dark" (click)="onDeletePlaylist(i)">
          Delete</button
        >&nbsp;
        <button
          class="btn btn-info"
          (click)="onUpdatePlaylist(i); openModal(content)"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- this is modal layout for manage playlist -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create New Playlist / Edit Playlist</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('close modal event')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Playlist Name</label>
      <div class="col-sm-10">
        <input
          [(ngModel)]="playlistselected.titleplaylist"
          (ngModelChange)="onModelTrigger($event)"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input
          [(ngModel)]="playlistselected.description"
          (ngModelChange)="onModelTrigger($event)"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group row">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Title Song</td>
            <td>Artist</td>
            <td>Duration</td>
            <td>&nbsp;</td>
          </tr>
          <tr *ngFor="let song of playlistselected.songs; index as i">
            <td>
              <input
                [(ngModel)]="playlistselected.songs[i].titlesong"
                (ngModelChange)="onModelTrigger($event)"
                type="text"
                class="form-control"
              />
            </td>
            <td>
              <input
                [(ngModel)]="playlistselected.songs[i].artist"
                (ngModelChange)="onModelTrigger($event)"
                type="text"
                class="form-control"
              />
            </td>
            <td>
              <input
                [(ngModel)]="playlistselected.songs[i].duration"
                (ngModelChange)="onModelTrigger($event)"
                type="number"
                class="form-control"
              />
            </td>
            <td>
              <a
                class="action-a"
                *ngIf="i == playlistselected.songs.length - 1"
                (click)="onAddSong()"
                >Add</a
              >&nbsp;
              <a
                class="action-a"
                *ngIf="i != playlistselected.songs.length - 1"
                (click)="onDeleteSong(i)"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('on save close')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="formvalidation"
      (click)="onSavePlaylist()"
    >
      Submit
    </button>
  </div>
</ng-template>

<!--
<router-outlet></router-outlet>
-->
